<h1>LOGIN</h1>

<form action="">
    Email: <input type="email" name="" id="">
    Password: <input type="password" name="" id="">
    <input type="submit" value="Ingresar">
    <br><br><br>
    <button onclick="">Registrate</button>
</form>

