<div>
    <h3>tus puntos</h3>
    <h5> puntos aqui</h5>
</div>
<div>
    <h3>estadísticas</h3>
    <div>
        <h4>plástico</h4>
        <h5>muestra cantidad de botellas</h5>
    </div>
        <div>
        <h4>vidrio</h4>
        <h5>muestra cantidad de vidrio</h5>
    </div>

</div>


<div>
    <h3>MI PUNTAJE</h3>
    <h5> puntos aqui</h5>
</div>
<div>
    <h3>estadísticas</h3>
    <div>
        <h4>CANJEAR</h4>
        <h5>canjear</h5>
    </div>
        <div>
        <h4>TRANSFERIR</h4>
        <h5>transferir</h5>
    </div>

</div>