<h1>GREEN CYCLE - REGISTER</h1>

<h2>REGISTER</h2>
<form action="">
    Nombre: <input type="text">
    Apellido: <input type="text">
    Email: <input type="email">
</form>

<h2>YA SOS USUARIO?</h2>
<a href="#">LOGIN</a>